.add-task{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.add-task h1{
    font-family: 'Times New Roman', Times, serif
}

.add-task input{
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-family: 'Times New Roman', Times, serif
}
.add-task button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif
}