/* *{
    background-color: blanchedalmond;
} */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  max-width: 1100px;
  margin: 0 auto -6rem;
  padding: 4rem 1rem;

  min-height: 70vh; /* better than height: 100vh */
}

.hero-image img {
  max-width: 100%;
  height: auto;
  max-height: 900px;
  object-fit: contain;
    flex: 1;
  display: flex;
  justify-content: center;
}

.intro-text h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.intro-text p{
    margin-bottom: 2rem;
}

.tagline1{
    color: #1a2e35;
}

.tagline2{
    color: #ff7757;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 1rem;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.red{
    background-color: #ff7757;
    margin-right:1.5rem ;
}
.blue{
    background-color: rgb(81, 81, 193);   
}

.red:hover{
    background-color: rgb(201, 61, 61);
}

.blue:hover{
    background-color: rgb(61, 61, 173);
}